.html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF0D5;
    padding: 10px 20px;
}

nav img{
    width: 100px;
}

nav a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-left: 20px;
}

main
{
    
    display: flex;
    height: 600px ;
    
}

main h1
{
    text-align: center;
    color: #333;
}

.sousmenu{
    width: 200px;
    background-color: #FDF0D5;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.sousmenu a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.dashboard{
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #45bc37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

td {
    text-align: center;
}  

td a {
    color: #45bc37;
    text-decoration: none;
}


select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.error {
    color: white;
    margin-bottom: 20px;
    background-color: red;
    padding: 10px;    border-radius: 5px;
    text-align: center
}

.success {
    color: white;
    margin-bottom: 20px;
    background-color: green;
    padding: 10px;    
    border-radius: 5px;
    text-align: center
}